<html>
<head>
  <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  
</head>
<body>
  <%- include("./partials/partial.ejs") %>

<h1> Welcome to the website <strong> <%= person%> </strong></h1>
<p> <%= data.age%> </p>
<p> <%= data.surname%> </p>
<h2> Foods</h2>
<ul> <% foods.forEach(function(item){ %>

<li><%= item%>  </li>
<%})%>
</ul>
</body>
</html>
